node_modules
# Keep environment variables out of version control
.env

# No quitar ignorar

src/generated/prisma

/src/generated/prisma

# Esto ignora las migraciones previas, pueden causar conflictos cuando se hace una nueva migración

/src/prisma/migrations/*
!/src/prisma/migrations/*.toml
