name: Build and Release Latest

on:
  workflow_dispatch:

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Build frontend
        run: |
          cd Frontend
          npm install
          npm run build

      - name: Zip dist folder
        run: |
          cd Frontend
          zip -r dist-latest.zip dist


      - name: Update Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: latest      # Usamos una etiqueta fija "latest"
          name: Latest Build    # Nombre del release
          files: Frontend/dist-latest.zip
          draft: false
          prerelease: false
          overwrite: true       # Importante: sobrescribe el anterior
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
