name: Deploy Frontend

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install deps
        run: |
          cd frontend
          npm install

      - name: Build frontend
        run: |
          cd frontend
          npm run build

      - name: Upload dist to EC2
        run: |
          rsync -avz -e "ssh -o StrictHostKeyChecking=no" \
            frontend/dist/ ubuntu@${{ secrets.FRONTEND_SERVER }}:/home/ubuntu/eventuro_front/dist/

      - name: Restart PM2
        run: |
          ssh -o StrictHostKeyChecking=no ubuntu@${{ secrets.FRONTEND_SERVER }} \
            "pm2 restart frontend && pm2 save"
