name: Deploy Frontend

on:
  workflow_dispatch:
  
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Replace BASE_URL for production
        run: |
          cd Frontend/src
          sed -i 's|http://localhost:4000|https://api-eventuro.duckdns.org|g' config.js

      - name: Build frontend
        run: |
          cd Frontend
          npm install
          npm run build

      - name: Upload dist to EC2
        uses: appleboy/scp-action@v0.1.4
        with:
          host: eventuro.duckdns.org
          username: ubuntu
          key: ${{ secrets.FRONT_SSH_KEY }}
          source: "Frontend/dist/*"
          target: "/home/ubuntu/eventuro_front/dist"

      - name: Restart PM2
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: eventuro.duckdns.org
          username: ubuntu
          key: ${{ secrets.FRONT_SSH_KEY }}
          script: |
            pm2 restart front || pm2 start "serve -s /home/ubuntu/eventuro_front/dist -l 5173" --name front
